<style>
    .imgfloat{
        float:right;
        width:44.23%;
    }
    .textfloat{
        float:left;
        width:55%;
    }

    .imgfull{
        width:90%;
        margin:10px auto;
    }
    .infotitle{
        font-size:200%;
        color:#4d2c00;
        margin-bottom:10px;
    }
    .infomemo{

    }

    .closebtn{
        width:10%;
        position:absolute;
        right:10px;
        top:-45px;
    }
</style>
<div ng-if="direction==0" class="col-md-12" style="background:#fff;padding:5px !important;margin-top:30px;">
    <img src="images/closebtn.png" class="closebtn" style="width:5%;" ng-click="ok()"/>
    <div class="col-md-12" style="border:2px solid #4d2c00;">
        <div class="imgfull">
            <img ng-src="images/{{info.infoImage.split('-').join('_')}}" style="width:100%;"/>
        </div>
        <div class="infotitle">{{info.infoTitle}}</div>

        <hr style="color:#2d2c00;"/>

        <div class="infomemo">
            <p ng-repeat="text in textarr">{{text}}</p>
        </div>
    </div>

</div>


<div ng-if="direction==1" class="col-md-12" style="background:#fff;padding:5px !important;margin-top:30px;">
    <img src="images/closebtn.png" class="closebtn" style="width:5%;" ng-click="ok()"/>
    <div class="col-md-12" style="border:2px solid #4d2c00;">
        <div class="imgfloat">
            <img ng-src="images/{{info.infoImage.split('-').join('_')}}" style="width:100%;"/>
        </div>
        <div class="textfloat">
            <div class="infotitle">{{info.infoTitle}}</div>

            <hr/>

            <div class="infomemo">
                <p ng-repeat="text in textarr">{{text}}</p>
            </div>
        </div>
    </div>


</div>

